.idea
.DS_Store
.idea
.empty
.vscode
.venv
.ruff_cache
.env
build

# Python related files 
**/__pycache__
dist/
*.egg-info
.coverage
coverage.*
*.pyc*
*.pyd
.pytest_cache

# Docs related

docs/build

**/profile_stats

# R environment files
**/renv
**/.Rprofile
**/renv.lock

articles
regMMD_R_version
