.idea
.DS_Store
.idea
.empty
.vscode
.venv
.ruff_cache

# Python related files 
**/__pycache__
uv.lock
dist
*.egg-info

**/profile_stats

# R environment files
**/renv
**/.Rprofile
**/renv.lock

articles
regMMD_R_version
